.features .box-container{
    display: flex;
align-items: center;
justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    

}
.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
    width: 22rem;
}

.features .box-container .box h3{
    font-size: 2rem;
    line-height: 1.5;
    color: var(--black);

}

.features .box-container .box p{
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}
.btn{
    margin-top: 0.5rem;
    display: inline-block;
    padding: .6rem 2rem;
    font-size: 5rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}
.btn:hover{
    background: var(--orange);
    color: #fff;
}
